.sP_header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  align-items: flex-start;
  padding: 25px 30px 10px;
  border-bottom: 1px solid lightgray;
}

.sP_logo {
  object-fit: contain;
  height: 30px;
  margin: 10px 30px;
}

.sP_headerBody {
  margin-left: 25px;
  flex: 1;
}

.sP_headerBody > .search > .search_data {
  margin-top: 0;
  width: 55%;
  margin: unset;
  max-width: unset;
}

.sP_options {
  display: flex;
  align-items: center;
  color: #70757a;
  font-size: 14px;
  padding-top: 2rem;
  height: 20px;
  gap: 18rem;
}

.sP_optionsLeft,
.sP_optionsRight {
  display: flex;
}

.sP_option {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.sP_option a {
  text-decoration: none;
  color: #70757a;
}

.sP_option.active {
  color: black;
  text-decoration: underline;
  font-weight: 900;
}

.sP_option_dropdown {
  display: flex;
  align-items: center;
  margin-left: 20px;
  position: relative;
}

.sP_option_dropdown_btn {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  color: #70757a;
}

.sP_option_dropdown_btn > div {
  display: inline-block;
}

.moreVertIcon {
  margin: -4px;
}

.results {
  max-width: 650px;
  margin: 20px 224px 100px;
}

.result {
  margin: 25px 0;
}

.resultTitle {
  text-decoration: none;
}

.resultTitle:hover {
  text-decoration: underline;
}

.resultTitle h2 {
  font-weight: 500;
}

.resultSnippet {
  margin-top: 8px;
}

.resultRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.result {
  flex: 1;
  max-width: calc(100% - 20px);
}

.resultThumbnail {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  margin: 25px 0;
}
